
<h1><%= @post.title %></h1>

<%# <%= @post.details %> %>

<!-- <p>Total entries for Posts: <%= Post.total %></p> -->

<%= simple_format @post.body %>

<!-- <h3>Comments</h3>

<% @post.comments.each do |comment| %>
  <%= comment.body %>
<% end %> -->
